.App {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1;
}

.App-footer {
  background: white;
  position: fixed;
  bottom: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 5px;
}

.App-content {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 30px;
  padding: 30px 30px 80px 30px;
}

.App-year > h2 {
  color: #333;
}

.App-year:not(:last-of-type) {
  border-right: 4px solid rgba(0, 0, 0, 0.04);
  margin-right: 30px;
}

.App-months {
  display:flex;
}

.App-month {
  padding-right: 30px;
}

.App-month:last-child {
}

.App-monthTitle {
  font-size: 23px;
  font-weight: 300;
  padding-bottom: 10px;
}

.App-cardWrapper {
  padding-bottom: 10px;
}
