.Logo {
  background: #c3d945;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 23px;
  height: 100%;

  font-family: "AntiqueOliveNord";
  font-weight: normal;
}
