.Logo {
  background: #c3d945;
  background-image: url(/logo.svg);

  color: transparent; /* Hide the "TM" text */

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 23px;
  height: 100%;

}
