.Header {
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #2f5d79;
  color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.Header-left {
  flex: 60px 0;
}

.Header-right {
  flex: 1;
  padding-left: 18px;
  display: flex;
  align-items: center;
}

.Header h1 {
  font-size: 23px;
  font-weight: 400;
  display: inline-block;
}

.Header-right-publishDate {
  display: inline-block;
  margin-left: 20px;
  font-weight: 600;
}
