.Legend {
  padding: 15px 20px;
}

.Legend-labels {
  display: flex;
  flex-direction: row;
}

.Legend-labelWrapper {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
  align-items: center;
}

.Legend-labelTitle {
  padding: 0 5px;
  font-weight: 600;
  color: #444;
}
