.ProgressBar {
  position: relative;
  height: 25px;
  background: #aaa;
  margin-top: 7px;
}

.ProgressBar::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: '';
  border: 2px solid rgba(0,0,0,0.1);
}

.ProgressBar-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.28)
}

.ProgressBar-inner {
  height: 100%;
}

.isStatus-validation .ProgressBar-inner,
.isStatus-ontrack .ProgressBar-inner{
  background: #1e90ff;
}

.isStatus-ontrack.isComplete .ProgressBar-inner,
.isStatus-ready .ProgressBar-inner
{
  background: #2da918;
}

.isStatus-atrisk .ProgressBar-inner {
  background: orange;
}

.isStatus-onhold .ProgressBar-inner {
  background: #555;
}

.isStatus-blocked .ProgressBar-inner {
    background: #ffb138;
}
